<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<html lang="zh-CN">
<header th:replace="Admin/header.html"/>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="Admin/Sidebar.html"/>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="Admin/Topbar.html"/>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div th:replace="Admin/Page/DomainreliabilityrulePageContent.html"/>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="Admin/Footer.html"/>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="Admin/Logout.html"/>

<script th:replace="Admin/JavaScript.html"/>
</body>

</html>