<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<html lang="zh-CN">
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <p align="center">    Powered by <b>Domain Reliability</b>
                Copyright &copy; <script>document.write((new Date).getFullYear())</script> 作者：<a href="https://domainreliability.rainycrying.com/" target="_blank" >运维组-张泽浩</a>. 版权所有 <a href="https://gitlab.rainycrying.net/" target="_blank" >gitlab</a>
        </div>
    </div>
</footer>
<!-- End of Footer -->